/* global */
:root {
    --white: #FAFAFF;
    --black: #1F1F1F;
    --black-2: #30343F;
    --blue: #1D84B5;
    --red-1: #FF1654;
    --red-2: #FF3333;
  }
  html {
    font-size: 62.5%;
    width: 100vw;
  }
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    position: relative;
  } 
  body a{
    text-decoration: none;
    color: inherit;
  }
  ul li {
    text-decoration: none;
    list-style: none;
  }


.news {
    display: flex;
    flex-wrap: wrap;
}

.news__card {
    width: 304px;
    height: 512px;
}

article {
    position: relative;
    margin-top: 4.5rem;
}
.news__card img {
    width: 304px;
}
.cucarda {
    background-color: var(--red-2);
    width: 81px;
    height: 30px;
    color: var(--white);
    display: flex;
    place-content: center;
    place-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    position: absolute;
    top: 0;
    right: 0;
}

.news__card p:nth-child(1){
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 17px;
    text-decoration: none;
    width: 114.099609375px;
    height: 17px;
    top: 380px;
    left: 12.0911865234375px;

}

.news__card h4 {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    height: 22px;
}

.news__card p:nth-child(3){
    color: #333333;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 19px;
    text-decoration: none;
    height: 19px;
    letter-spacing: 0em;
    text-align: left;
}

.news__card p:nth-child(4){
    color: var(--blue);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 14,5px;
    width: 156.234375px;
    height: 15px;
}


@media screen and (max-width: 920px){
  body {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 910px){
  .main {
    display: flex;
    flex-direction: column;
  }
  .news {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
  }
  .news :nth-child(9){
    display: none;
  }
}

@media screen and (max-width: 450px){
  .news{
    padding: 0px;
  }
}